.favorites {
  width: 70%;
  min-height: 88vh;
  margin: 3.5rem auto;
  background: white;
  border-radius: 2rem;
  text-align: center;
  padding: 3rem;
}

.favorites ul {
  list-style: none;
}

@media only screen and (max-width: 738px) {
  .favorites {
    width: 100%;
    margin: 0;
    border-radius: 2rem 2rem 0 0;
  }
}
