.item {
  border: 2px solid red;
  font-size: 2rem;
  padding: 1rem;
}

.item div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item:not(:last-child) {
  margin-bottom: 1rem;
}

.logo {
  fill: red;
}
