.favorites {
  width: 70%;
  margin: 3.5rem auto;
  background: white;
  border-radius: 2rem;
  text-align: start;
  padding: 2rem;
}

.favorites ul {
  list-style: none;
  width: 70%;
  margin: 0 auto;
}

.favorites p {
  font-size: 1.8rem;
  text-align: center;
}

.favorites h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 738px) {
  .favorites {
    width: 100%;
    margin: 0;
    border-radius: 2rem 2rem 0 0;
    padding: 3rem;
    min-height: 88vh;
  }

  .favorites ul {
    width: 100%;
  }
}

@media only screen and (min-width: 1800px) {
  .favorites {
    width: 50%;
  }
}
