.cart-item {
  padding: 0.5rem 3rem;
  border: 1.5px solid black;
  width: 55%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.cart-item:not(:last-child) {
  margin-bottom: 1.5rem;
}

.cart-item__details {
  font-size: 1.6rem;
  display: flex;
}

.cart-item__details--multi {
  margin-right: 1.75rem;
  font-weight: bold;
}

.cart-item__price {
  padding: 0.75rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.cart-item button {
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.cart-item button:not(:last-child) {
  margin-right: 0.75rem;
}
