.form {
  margin: 2.75rem 0;
  padding: 2.75rem 0 0 0;
  border-top: 2px solid #999;
}

.form form {
  margin: 0 auto;
  width: 70%;
  text-align: start;
}

.form__section:not(:last-child) {
  margin-bottom: 1.5rem;
}

.form input {
  width: 100%;
  padding: 1rem;
  font-size: 1.8rem;
  letter-spacing: 0.025rem;
  border-radius: 5px;
  border: 1.5px solid #000;
  outline: none;
}

.form input:focus {
  background: rgba(14, 14, 255, 0.15);
}

.form label {
  display: block;
  text-align: start;
  font-size: 1.6rem;
}

.form__cancel {
  background: none;
  color: #000;
  border: none;
  padding: 1rem 2.5rem;
  margin-right: 1rem;
}

.form__order {
  padding: 1rem 2.5rem;
}

.form__order:hover {
  transform: none;
  box-shadow: none;
}

.form__cancel:hover {
  background: #999;
  color: white;
  transform: none;
  box-shadow: none;
}

.errorMsg {
  font-size: 1.6rem;
  color: red;
}

@media only screen and (max-width: 738px) {
  .form form {
    width: 85%;
  }
}
