.detail {
  padding: 5rem;
  min-height: 88vh;
  width: 70%;
  background: #fff;
  margin: 3.5rem auto;
  border-radius: 2rem;
  text-align: center;
  overflow: hidden;
  text-align: center;
}

.detail__img-container {
  height: 30rem;
  width: 100%;
  border: none;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  position: relative;
}

.detail__img-container--img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.detail__info {
  text-align: left;
}

.detail__info--main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0 3rem 0;
}

.detail__info--main {
  font-size: 2rem;
}

.title {
  border-bottom: 1.5px solid #000;
  font-weight: 500;
}

.detail__info--description {
  font-size: 2rem;
}

.detail__btn-container {
  padding: 5rem 3rem;
  text-align: right;
}

.btn {
  border-radius: 0.75rem;
  padding: 1.25rem 2.5rem;
  font-size: 2rem;
}

.btn:hover {
  transform: scale(1);
  box-shadow: none;
}

.back {
  position: absolute;
  height: 5rem;
  width: 5rem;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.65);
  color: #fff;
  top: 1.5rem;
  left: 1.5rem;
  cursor: pointer;
}

.detail__favorites {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.detail__favorites-container {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.detail__favorites-icon {
  height: 3rem;
  width: 3rem;
  fill: red;
}

@media only screen and (max-width: 738px) {
  .detail {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    border-radius: 2rem 2rem 0 0;
  }

  .detail__img-container {
    height: 35vh;
    width: 100%;
    position: relative;
    border-radius: 2rem 2rem 0 0;
    box-shadow: none;
    margin-bottom: none;
  }

  .detail__info--main {
    font-size: 2.4rem;
  }

  .detail__info {
    padding: 1.5rem 3rem;
  }

  .detail__favorites {
    margin-right: 3rem;
  }
}

@media only screen and (min-width: 1800px) {
  .detail {
    width: 50%;
  }
}
