.menu {
  width: 70%;
  margin: 3.5rem auto;
  background: white;
  border-radius: 2rem;
  text-align: center;
}

.menu ul {
  list-style: none;
}

.menu__container {
  padding: 3rem 0;
  width: 60%;
  margin: 0 auto;
  text-align: start;
}

.menu__container h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.error {
  text-align: center;
  font-size: 1.6rem;
}

@media only screen and (max-width: 738px) {
  .menu {
    width: 100%;
    margin: 0 auto;
    border-radius: 2rem 2rem 0 0;
  }

  .menu__container {
    width: 80%;
  }
}

@media only screen and (min-width: 1800px) {
  .menu {
    width: 50%;
  }
}
