.header {
  height: 12vh;
  padding: 0 8rem;
  background-color: #4e598c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-size: 2.75rem;
  font-weight: 500;
  color: #fcaf58;
}
