.nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav li:not(:last-child) {
  margin-right: 7rem;
}

.nav-cart {
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
  top: 0.5rem;
}

.nav-cart__logo {
  fill: #d4d4d4;
  height: 2.5rem;
  width: 2.5rem;
  pointer-events: none;
}

.nav-cart__logo--badge {
  position: absolute;
  padding: 0.15rem 0.15rem;
  border-radius: 100px;
  font-size: 1.5rem;
  height: 1.75rem;
  width: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -1rem;
  left: 1.25rem;
  background: #ff8c42;
  color: white;
  font-weight: bold;
}

.nav a:visited,
.nav a:active,
.nav a:link {
  color: #d4d4d4;
  font-size: 2rem;
  text-decoration: none;
  padding: 0.5rem 0;
}

.nav a.active {
  color: white;
  border-bottom: 0.45rem solid white;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 738px) {
  .nav ul {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .mobile-nav button {
    height: 0.35rem;
    width: 4rem;
    background: white;
    position: relative;
    border: none;
  }

  .mobile-nav button::before,
  .mobile-nav button::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
  }

  .mobile-nav button::before {
    top: -1rem;
  }

  .mobile-nav button::after {
    top: 1rem;
  }
}
