.nav {
  font-size: 2rem;
}

.nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav li:not(:last-child) {
  margin-right: 7rem;
}

.nav-cart {
  position: relative;
}

.nav-cart__logo {
  fill: white;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}

.nav-cart__logo--badge {
  position: absolute;
  padding: 0.15rem 0.15rem;
  border-radius: 100px;
  font-size: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -1rem;
  left: 1.25rem;
  background: red;
  color: white;
}
