.button {
  border-radius: 3rem;
  border: none;
  background: #ff8c42;
  transition: all 0.2s ease;
  cursor: pointer;
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
}

.button:hover {
  transform: scale(1.075);
  background: #ffc477;
  box-shadow: 1rem 2rem 2rem rgba(0, 0, 0, 0.2);
}
