.backdrop {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(0.3rem);
  z-index: 1;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 2rem;
  z-index: 2;
}

.modal {
  padding: 3rem 5rem;
  position: relative;
}

.modal p {
  padding: 1.2rem 0;
  font-size: 1.6rem;
}

.modal-icon {
  position: absolute;
  top: 3rem;
  right: 3rem;
  transform: translate(-50%, -50%);
  font-size: 2.2rem;
  cursor: pointer;
}

@media only screen and (max-width: 738px) {
  .modal-container {
    width: 90%;
  }
}
